---
// src/routes/writing/[...slug].astro

import { getCollection, render } from "astro:content";

import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("writing");
  return posts.map((post) => ({
    params: { slug: `${post.data.locale}/${post.data.slug}` },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<Layout title={post.data.title} description={post.data.description}>
  <article class="max-w-3xl mx-auto px-6 py-6 pb-24 prose prose-invert">
    <h1>{post.data.title}</h1>
    <Content />
  </article>
</Layout>
