---
// src/components/Experience.astro
import { t } from "i18n:astro";

import Timeline from "./Timeline.astro";

const timelineData = [
  {
    year: "2017",
    company: "H.E. GME",
    title: "Junior Software Developer",
    description:
    t("experience.description1"),
    topics:
      "Custom Software,Databases,Desktop Virtualization,Microsoft Access,SQL,Software Engineering,Software Infrastructure",
  },
  {
    year: "2018",
    company: "Woldev SAS",
    title: "Junior Software Engineer",
    description:
    t("experience.description2"),
    topics:
      "C++,Web Development,Web 2.0,Bootstrap,CSS,Análisis web,HTML,JavaScript,GNU/Linux",
  },
  {
    year: "2021",
    company: "Pulsatrix",
    title: "Blockchain Developer",
    description:
    t("experience.description3"),
    topics:
      "GNU/Linux,Testing,Node.js,Blockchain,Docker,Bash,JavaScript,REST,Web RESTful",
  },
  {
    year: "2022",
    company: "Delphi",
    title: "Software Engineer",
    description:
    t("experience.description4"),
    topics:
      "Django,AI,Web Development,Lidership,JavaScript,Vue.js,React.js,GNU/Linux,Analysis,APIPython,Database,Docker,Software Development,Custom Software,Software Infraestructure,RESTful,Web RESTful",
  },
  {
    year: "2023",
    company: "Ubuntu Colombia",
    title: "Project Development Manager",
    description: 

    t("experience.description5"),
    topics: "JavaScript,Python,Lidership,Project management,Marketing",
  },
  {
    year: "2023",
    company: "Forest Software Community",
    title: "Co-Founder",
    description: 
    t("experience.description6"),
    topics:
      "Web Development,Lidership,GNU/Linux,Analysis,FOSS,Open Source,Software Development,Python,JavaScript,React.js,Vue.js,Astro.js",
  },
  {
    year: "2023",
    company: "Freelancer",
    title: "Technical Advisor",
    description: 
    t("experience.description7"),
    topics:
      "HTML5,CSS,GNU/Linux,Software Development,Software Infraestructure,Docker,JavaScript,Python",
  },
  {
    year: "2024",
    company: "Freelancer",
    title: "Software Developer",
    description:
    t("experience.description8"),
    topics:
      "Software Development,React.js,Vue.js,JavaScript,TypeScript,GNU/Linux,Docker,Git,Python,Software Infraestructure,Marketing,Lidership",
  },
];
---

<section id="experience">
  <article class="flex flex-col items-start mt-6 px-6 pr-12">
    <h3 class="text-4xl uppercase text-accent mb-12">
      {t("experience.title")}
      </h3>
    <div
      class="flex overflow-x-auto space-x-4 py-4 max-w-full scrollbar-hidden"
    >
      <div class="flex space-x-4">
        {
          timelineData.map((data) => (
            <Timeline
              year={data.year}
              company={data.company}
              title={data.title}
              description={data.description}
              topics={data.topics}
            />
          ))
        }
      </div>
    </div>
  </article>
</section>

<style>
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
</style>
