---
// src/components/Project.astro
import { t } from "i18n:astro";
import type { ProjectProps } from "../types";

import ProjectDescription from "./ProjectDescription.astro";
import ProjectLink from "./ProjectLink.astro";

import Lyra from "../assets/projects/Lyra.png";
import MuVim from "../assets/projects/muvim.png";
import NFT from "../assets/projects/NFT.png";
import Game from "../assets/projects/game.png";
import Babylon from "../assets/projects/babylon.jpg";
import Advice from "../assets/projects/advice.png";
import Parking from "../assets/projects/parking.png";
import TODO from "../assets/projects/todo.png";
import Dotfiles from "../assets/projects/dotfiles.png";
import Ball from "../assets/projects/ball.png";

const projectsData: ProjectProps[] = [
  {
    description: {
      title: "Lyra: Your Cosmic Companion",
      context: t("projects.context1"),
      authors: [
        { link: "https://github.com/AndresMpa", user: "AndresMpa" },
        { link: "https://github.com/xcerock", user: "xcerock" },
      ],
    },
    link: {
      url: "https://github.com/AndresMpa/lyra",
      topics: "AI,JavaScript,Python",
      alt: "Lyra's proyect",
      image: Lyra,
    },
  },
  {
    description: {
      title: "MuVim",
      context: t("projects.context2"),
    },
    link: {
      url: "https://github.com/AndresMpa/mu-vim",
      topics: "GNU/Linux,Shell,Dockerfile,JavaScript,Lua",
      alt: "MuVim",
      image: MuVim,
    },
  },
  {
    description: {
      title: "Dotfiles",
      context: t("projects.context3"),
    },
    link: {
      url: "https://github.com/AndresMpa/dotfiles",
      topics: "GNU/Linux,Shell,Dockerfile,Python,Lua,C/C++",
      alt: "Dotfile",
      image: Dotfiles,
    },
  },
  {
    description: {
      title: "Rock, Paper, Scissors, Spock, Lizard",
      context: t("projects.context4"),
    },
    link: {
      url: "https://github.com/AndresMpa/rock-paper-scissors-spock-lizard",
      topics: "JavaScript,SCSS,HTML",
      alt: "Rock, Paper, Scissors, Spock, Lizard",
      image: Game
    },
  },
  {
    description: {
      title: "TODO App",
      context: t("projects.context5"),
    },
    link: {
      url: "https://github.com/AndresMpa/todo-app",
      topics: "JavaScript,Stylus,HTML",
      alt: "TODO App",
      image: TODO,
    },
  },
  {
    description: {
      title: "Advice Generator App",
      context: t("projects.context6"),
    },
    link: {
      url: "https://github.com/AndresMpa/advice-generator-app",
      topics: "JavaScript,Less,CSS,HTML",
      alt: "Advice Generator App",
      image: Advice,
    },
  },
  {
    description: {
      title: "NFT-Card Preview",
      context: t("projects.context7"),
    },
    link: {
      url: "https://andresmpa.github.io/NFT-card-preview/",
      topics: "SCSS,HTML",
      alt: "NFT-Card Preview",
      image: NFT,
    },
  },
  {
    description: {
      title: "Parking system",
      context: t("projects.context8"),
    },
    link: {
      url: "https://github.com/AndresMpa/parking-system",
      topics: "UI,Vue,Vuex,Vue Router",
      alt: "Parking system",
      image: Parking,
    },
  },
  {
    description: {
      title: "Babylon: Resources for developers",
      context: t("projects.context9"),
    },
    link: {
      url: "https://github.com/AndresMpa/babylon",
      topics: "JavaScript,TypeScript,HTML,SCSS,CSS,Stylus,Less",
      alt: "Babylon: Resources for developers",
      image: Babylon,
    },
  },
  {
    description: {
      title: "Magic ball workshop",
      context: t("projects.context10"),
    },
    link: {
      url: "https://github.com/AndresMpa/magic-ball-workshop",
      topics: "JavaScript,HTML,CSS,Web Speech API",
      alt: "Magic ball workshop",
      image: Ball,
    },
  },
];
---

<section id="projects">
  <article class="flex flex-col items-end mb-6 pb-12 pr-12">
    <h3 class="text-4xl uppercase text-accent">
      {t("projects.title")}
    </h3>
  </article>
  <article>
    {
      projectsData.map((data, index) => (
        <div
          class={`${index % 2 === 0 ? "" : "flex-row-reverse"} md:flex justify-around my-12`}
        >
          <ProjectDescription
            title={data.description.title}
            context={data.description.context}
            authors={data.description.authors}
          />

          <ProjectLink
            url={data.link.url}
            image={data.link.image}
            topics={data.link.topics}
            alt={data.link.alt}
            flip={index % 2 === 0}
          />
        </div>
      ))
    }
  </article>
</section>
