---
// src/components/TableIterator.astro

import TableItem from "./TableItem.astro";

import type { TableHeadersProps } from "../types";

const { headers, entries } = Astro.props as TableHeadersProps;
---

<table class="m-12">
  <thead>
    <tr class="border-b-2 border-white">
      {headers.map((header) => <th class="p-6">{header}</th>)}
    </tr>
  </thead>

  <tbody>
    {
      entries.map((entryData) => (
    <tr class="border-t border-gray-800/50">
          {entryData.map((entryDetail) => (
            <TableItem
              type={entryDetail.type}
              ref={entryDetail.ref}
              bolder={entryDetail.bolder}
              context={entryDetail.context}
            />
          ))}
        </tr>
      ))
    }
  </tbody>
</table>
