---
// src/layouts/Layouts.astro

import I18nClient from "@astrolicious/i18n/components/I18nClient.astro";

import Header from "../components/layout/Header.astro";
import Footer from "../components/layout/Footer.astro";
import SEO from "../components/seo/SEO.astro";

import { site } from "../data/site";

import type { SEOProps } from "../types"

const props = Astro.props as SEOProps;

const ogImage = `${site.url}/og-image.png`

const {
  title,
  description = site.description,
  image = ogImage,
  keywords=[],
  includeProjects = false,
  includeOrganizations = false,
  project,
} = props;
---

<!doctype html>
<html lang="en" class="h-full">
  <head>
    <SEO
      title={title}
      description={description}
      image={image}
      keywords={keywords}
      includeProjects={includeProjects}
      includeOrganizations={includeOrganizations}
      project={project}
    />
    <I18nClient />
  </head>

  <body class="bg-background text-text min-h-screen flex flex-col">
    <Header />

    <main class="flex-1">
      <slot />
    </main>

    <Footer />
  </body>
</html>
